{
  "openapi": "3.1.0",
  "info": {
    "title": "UpCoded public API",
    "version": "1.0.0",
    "description": "Endpoints para enviar una consulta o solicitar un proyecto a UpCoded. Uso permitido solo para consultas reales."
  },
  "servers": [{ "url": "https://upcoded.dev" }],
  "paths": {
    "/api/start-project": {
      "post": {
        "operationId": "startProject",
        "summary": "Solicitar un proyecto (formulario guiado)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "company", "whatsapp", "service", "stage", "message", "startedAt"],
                "properties": {
                  "name": { "type": "string", "minLength": 2, "maxLength": 120 },
                  "company": { "type": "string", "minLength": 2, "maxLength": 160 },
                  "whatsapp": { "type": "string", "description": "Número con código de país" },
                  "email": { "type": "string", "format": "email" },
                  "service": { "type": "string", "enum": ["web", "automation", "system", "unsure"] },
                  "stage": { "type": "string", "enum": ["idea", "improve", "urgent", "evaluating"] },
                  "message": { "type": "string", "minLength": 8, "maxLength": 2000 },
                  "lang": { "type": "string", "enum": ["es", "en"] },
                  "startedAt": { "type": "integer", "description": "Epoch en ms; debe ser al menos 4 s anterior al envío" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Solicitud recibida" },
          "400": { "description": "Datos inválidos" },
          "429": { "description": "Demasiadas solicitudes" }
        }
      }
    },
    "/api/contact": {
      "post": {
        "operationId": "contact",
        "summary": "Enviar un mensaje de contacto",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email", "message"],
                "properties": {
                  "name": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "message": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Mensaje enviado" },
          "400": { "description": "Faltan campos" }
        }
      }
    }
  }
}
